extends layout

block append css
  link(rel='stylesheet', href='/css/bootstrap_home.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
  style.
    .fa {
      color: #1695A3;
    }

    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
    }

block content
  div.row
    h1 Nicholas Kundu
  div.row
    div.col.col-lg-12
      i.fa.fa-linkedin.fa-2x &nbsp;
      a(href="https://www.linkedin.com/in/nicholas-kundu-819760112") LinkedIn
  div.row
    div.col.col-lg-12
      i.fa.fa-github.fa-2x &nbsp;
      a(href="https://github.com/nkundu") GitHub
  div.row
    div.col.col-lg-12
      i.fa.fa-stack-overflow.fa-2x &nbsp;
      a(href="http://stackoverflow.com/users/1490/nick") StackOverflow

  div.row
    h1 Projects

  div.row
    h2 node.js
    ul.fa-ul
      li
        i.fa-li.fa.fa-line-chart
        a(href="/stock/goog,aapl,team,pfe,low") Stock Market Stats Summary
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-circle-right
            | Adjust the URL to display different stocks
          li
            i.fa-li.fa.fa-arrow-circle-right
            | Express middleware
          li
            i.fa-li.fa.fa-arrow-circle-right
            | Bootstrap layout
          li
            i.fa-li.fa.fa-arrow-circle-right
            | Jade templates
          li
            i.fa-li.fa.fa-arrow-circle-right
            | cheerio on the backend to get the data
      li
        i.fa-li.fa.fa-question-circle
        | Display GitHub content inline
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="prettygit/nkundu/sandbox-express/master/routes/prettygit.js") route handler
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="prettygit/nkundu/sandbox-express/master/views/prettygit.jade") jade template
          li
            i.fa-li.fa.fa-arrow-circle-right
            | Used to display the code links on this page from GitHub.
      li
        i.fa-li.fa.fa-question-circle
        a(href="prettygit/nkundu/node-perfmon/master/http-server.js") Web Access to WMI performance data
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-circle-right
            | A simple experiment with node.js and journey middleware

  div.row
    h2 Raspberry Pi
    ul.fa-ul
      li 
        i.fa-li.fa.fa-wifi
        | 315Mhz Transmit/Receive Using Manchester Encoding
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="https://www.amazon.com/gp/product/B00UWBJ7GK", target="_new") Amazon modules
            | &nbsp;tested with Pi @ 3.3V.
          li
            i.fa-li.fa.fa-arrow-circle-right
            | These are listed as 315 MHz but I received a 433 MHz module.
            | &nbsp;Range is not great but works for simple experimentation.
          li
            i.fa-li.fa.fa-arrow-circle-right
            | Receiver has automatic gain control (AGC).  When nothing is transmitting, the gain scales up generating a lot of amplified noise.  When a transmitter starts sending, the high gain rails the amplifier.  Transmit a preamble with alternating 1's and 0's to allow the AGC to adapt to the received power level before tranmitting real data.
          li
            i.fa-li.fa.fa-arrow-circle-right.fa-arrow-circle-right
            a(href="https://github.com/nkundu/wiringpi-examples/blob/master/amtel_manchester_coding.pdf") Documentation from Amtel on using Manchester encoding
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="prettygit/nkundu/wiringpi-examples/master/test.sh") Script to test sending and receiving
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="prettygit/nkundu/wiringpi-examples/master/rfwrite.c") Read from stdin and transmit
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="prettygit/nkundu/wiringpi-examples/master/rfread.c") Receive and decode using a state machine
      li 
        i.fa-li.fa.fa-dashboard
        | DHT22 Temperature and Humidity Web-enabled Monitor
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="https://www.amazon.com/gp/product/B00L8TB1BY", target="_new") Amazon module
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="prettygit/nkundu/wiringpi-examples/master/readTemp.sh") Script to run the process
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="prettygit/nkundu/wiringpi-examples/master/dht22.c") Read one temperature and one humidity value
      li
        i.fa-li.fa.fa-wifi
        span IoT
        ul.fa-ul
          li
            i.fa-li.fa.fa-arrow-circle-right
            | Use ESP-05 module connected to a U.FL antenna (
            a(a href="https://www.amazon.com/gp/product/B00OSWCGVW", target="_new") Amazon module
            | ,&nbsp;
            a(a href="https://www.amazon.com/gp/product/B004ZHT2JE", target="_new") Amazon antenna
            | )
          li
            i.fa-li.fa.fa-arrow-circle-right
            | 470 uF cap across power supply helps on module boot.  Range was excellent with the external antenna mounted to a window.
          li
            i.fa-li.fa.fa-arrow-circle-right
            | You can communicate with this module using minicom, but you need to disbale the serial port console login.
          li
            i.fa-li.fa.fa-arrow-circle-right
            a(href="https://cdn.sparkfun.com/assets/learn_tutorials/4/0/3/4A-ESP8266__AT_Instruction_Set__EN_v0.30.pdf") Expressif ESP8266 AT Command Set


  div.row
    h2 Interests
    ul.fa-ul
      li
        i.fa-li
        b Tried and True:
        p C/C++, MFC, Boost
        p C#, ASP.NET, MVC, WebAPI, Web Forms, Windows Forms
        p jQuery, Bootstrap, JavaScript
      li
        i.fa-li
        b Shiny New:
        p node.js, express, mongodb
      li
        i.fa-li
        b Always Necessary:
        p DB2, MSSQL
      li
        i.fa-li
        b Sometimes Useful:
        p SPI, I2C


  footer.footer
    div.container
      p.text-muted &copy; #{year} Nicholas Kundu
      p.text-muted Made with node.js, jade, express, bootstrap.&nbsp;
        a(href="prettygit/nkundu/sandbox-express/master/views/index.jade") jade template for this page

