extends layout

block append css
  link(rel='stylesheet', href='/css/bootstrap_home.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
  style.
    .fa {
      color: #1695A3;
    }

    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
    }

block content
  div.row
    h1 Nicholas Kundu
  div.row
    div.col.col-lg-12
      span.fa.fa-linkedin.fa-2x &nbsp;
      a(href="https://www.linkedin.com/in/nicholas-kundu-819760112") LinkedIn
  div.row
    div.col.col-lg-12
      span.fa.fa-github.fa-2x &nbsp;
      a(href="https://github.com/nkundu") GitHub
  div.row
    div.col.col-lg-12
      span.fa.fa-stack-overflow.fa-2x &nbsp;
      a(href="http://stackoverflow.com/users/1490/nick") StackOverflow

  div.row
    h1 Projects

  div.row
    h2 node.js
    ul.fa-ul
      li
        i.fa-li.fa.fa-line-chart
        a(href="/stock/goog,aapl,team,pfe,low") Stock Market Stats Summary
        ul.fa-ul
          li
            i.fa-li
            span Adjust the URL to display different stocks
          li
            i.fa-li
            span Express
          li
            i.fa-li
            span Bootstrap
          li
            i.fa-li
            span Jade
          li
            i.fa-li
            span cheerio
      li
        i.fa-li.fa.fa-question-circle
        a(href="https://github.com/nkundu/node-perfmon") Web Access to WMI performance data
        ul.fa-ul
          li
            i.fa-li
            span A simple experiment with node.js

  div.row
    h2 Raspberry Pi
    ul.fa-ul
      li 
        i.fa-li.fa.fa-wifi
        span 315Mhz Transmit/Receive Using Manchester Encoding
        ul.fa-ul
          li
            i.fa-li
            a(href="https://github.com/nkundu/wiringpi-examples/blob/master/amtel_manchester_coding.pdf") Documentation from Amtel on using Manchester encoding
          li
            i.fa-li
            a(href="https://github.com/nkundu/wiringpi-examples/blob/master/test.sh") Script to test sending and receiving
          li
            i.fa-li
            a(href="https://github.com/nkundu/wiringpi-examples/blob/master/rfwrite.c") Read from stdin and transmit
          li
            i.fa-li
            a(href="https://github.com/nkundu/wiringpi-examples/blob/master/rfread.c") Receive and decode using a state machine
      li 
        i.fa-li.fa.fa-dashboard
        span DHT22 Temperature and Humidity Web-enabled Monitor
        ul.fa-ul
          li
            i.fa-li
            a(href="https://github.com/nkundu/wiringpi-examples/blob/master/readTemp.sh") Script to run the process
          li
            i.fa-li
            a(href="https://github.com/nkundu/wiringpi-examples/blob/master/dht22.c") Read one temperature and one humidity value

  div.row
    h2 Interests
    ul.fa-ul
      li
        i.fa-li
        b Tried and True:&nbsp;
        span C#, ASP.NET, MVC, WebAPI, Web Forms, Windows Forms
      li
        i.fa-li
        b Shiny New:&nbsp;
        span node.js, jQuery, Bootstrap, JavaScript, mongodb
      li
        i.fa-li
        b Always Necessary:&nbsp;
        span DB2, MSSQL
      li
        i.fa-li
        b Sometimes Useful:&nbsp;
        span SPI, I2C


  footer.footer
    div.container
      p.text-muted &copy; #{year} Nicholas Kundu
      p.text-muted Made with node.js, jade, express, bootstrap.&nbsp;
        a(href="https://github.com/nkundu/sandbox-express/blob/master/views/index.jade") jade template for this page

