doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='/js/jquery.js')
      script(src='/js/bootstrap.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      // ga tracking
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-39156183-2', 'auto');
        ga('send', 'pageview');
     script.
        var trackOutboundLink = function(url) {
          ga('send', 'event', 'outbound', 'click', url, {
            'transport': 'beacon',
            'hitCallback': function(){document.location = url;}
          });
        };
        $(document).ready(function () {
          $('a[target="_blank"]').click(function () {
            var url = $(this).attr('href');
            if (url != undefined)
              trackOutboundLink(url);
          });
        });

    style.
      div.ad-left {
        position: fixed;
        left: 20px;
      }
      div.ad-top {
      }
      /* Sticky footer styles
      -------------------------------------------------- */
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        /* Margin bottom by footer height */
        margin: 0px 10px 60px 210px;
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
      }
      ul.fa-ul {
        padding-bottom: 20px;
      }


  body
    - if (ad == 10 || ad == 11)
        div.ad-left
          <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=14&l=ur1&category=primegift&banner=0ZWKW7ZFNM91W64BCX02&f=ifr&linkID=bd504c904e583ec6f0ce5b93917ced02&t=skip0110-20&tracking_id=skip0110-20" width="160" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        div.ad-top
          <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=kuft&banner=19P4Y3M8FNN5JYX3PJ82&f=ifr&linkID=56397d73dfa9d7377d5a646c147ccbb7&t=skip0110-20&tracking_id=skip0110-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    - else
        div.ad-left
          <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=29&l=ur1&category=electronics&f=ifr&linkID=49c98daee5f262ce8113fc2cb334608e&t=skip0110-20&tracking_id=skip0110-20" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        div.ad-top
          <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=kuft&banner=19P4Y3M8FNN5JYX3PJ82&f=ifr&linkID=56397d73dfa9d7377d5a646c147ccbb7&t=skip0110-20&tracking_id=skip0110-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    block content
