extends layout

block append css
  link(rel='stylesheet', href='/css/bootstrap_home.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
  link(rel='stylesheet', href='https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.css')
  script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js")
  style.
    .fa {
      color: #1695A3;
    }

block append js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js')
    script(src='/js/my.js')

block content
  div.row
    div.col.col-lg-12.pull-right.text-right
        a(href="/") Home
  h1
    i.fa.fa-github
    | &nbsp;#{title}
  pre.prettyprint
  p.text-muted &copy; #{year} Nicholas Kundu

  script.
    $(document).ready(function () {
      showBusyModal();
      $.ajax('https://raw.githubusercontent.com/#{code}').done(function (data) {
        $('.prettyprint').text(data);
        prettyPrint();
        $.unblockUI();
      });
    });
